# Virtual Environment
models/
venv/
env/
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment variables
.env

# MacOS files
.DS_Store

# Windows files
Thumbs.db

# Logs
*.log

# Data
data/

# Keep DVC tracking files
!data/**/*.dvc